@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Swiper Navigation Arrows */
/* Ensure arrows are at the edges */
.swiper{
    width: 100%;
    padding: 60px;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  /* Semi-transparent background */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 0;
}

/* Position them outside the main box 
 {
  left: 50px;
  Push it outside */



.swiper-button-next, .swiper-button-prev {
  right: 50px;
  /* Push it outside */
}



html {
  scroll-behavior: smooth;
}

